 <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="top_logo.png" alt="MinningVzla">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            
                        </li>
                        <LI>
                            <a href="login">
                                <button type="button" class="btn btn-primary navbar-btn"><span style="color:white">INGRESAR</span>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Text Header -->
    <div class="jumbotron">
        <div class="container">
            <img src="MinningVzla_logo.png" />
            <h2>MINAR BITCOIN DESDE LA NUBE.<br>
      Minería Instantánea</h2>
            <p>Después de cierto tiempo de investigación y desarrollo por fin estamos listos 
              <br>para ofrecer una solución final que permite a cualquiera <strong>MINAR BITCOINS</strong> 
                <br>evitando los problemas relacionandos a la compra hardware y gestión. 
                <br><br>Nuestra <strong>CloudMinning</strong> significa contar con un equipo de expertos que 
                <br>podrán administrar y proteger su Potencia de Minería de la mejor manera.
                <br>
                <strong>CloudMinning Venezuela es la solución final.</strong>
            </p>
            <p>
            </p>

        </div>
    </div>

    <!-- Text body -->
    <div class="container homepage">
        <h3>3 Pasos para iniciar</h3>
        <br />
        <div class="row">
            <div class="col-md-4">
                <img src="step_1.png" />
                <br />
                <br />
                <p><strong>Solicita ser Miembro</strong>.</p>
                
                <iframe src="http://clubsmlcapital.com/bitcoin/suscriptores/form.php"  name="iframe" width="300" height="250&quot;" frameborder="0" scrolling="No" id="iframe"> </iframe></p>
            </div>
            <div class="col-md-4">
                <img src="step_2.png" />
                <br />
                <br />
                <p><strong>Calcula la inversión proyectada</strong>.</p>
                <p style="font-size:15px; text-align:left, justify"><iframe src="http://clubsmlcapital.com/bitcoin/test.php"  name="iiframe" width="300" height="250&quot;" frameborder="0" scrolling="No" id="iiframe"> </iframe></p>
            </div>
            <div class="col-md-4">
                <img src="step_3.png" />
                <br />
                <br />
                <p><strong>Obten tus beneficios de minería</strong>.</p>
                <p style="font-size:15px"><br />
                Despues de haber adquirido tu poder de mineria con nosotros recibirás tus pagos a solicitud usando el formulario y en unos minutos lo tendrás en tu dirección Bitcoin.</p>
            </div>
        </div>
        <center>
            <img src="123.png" />
        </center>
        <br />
        <br />

        <!-- slide center -->
        <div class="container slide">
            <p>PAGA Y RECIBE TUS PAGOS CON
                <img src="icons.jpg" />
            </p>
        </div>
        <br />

        <!-- footer -->
        <img src="footer.png" />
    </div>
    </div>
    <footer>
        <div class="container">
            <center>
                <table width="1100">
                    <tr>
                        <td style="text-align:left">&copy; 2014 CloudMinning Venezuela. All Rights Reserved</td>
                        <!--<td style="text-align:right;padding-right:20px"> <a href="#"><span style="color:white">Advertise</span></a> | <a href="#"><span style="color:white">Privacy Policy</span></a> | <a href="#"><span style="color:white">TOS</span></a> | <a href="#"><span style="color:white">FAQ</span></a> | <a href="#"><span style="color:white">Support</span></a>-->
                            </span>
                        </td>
                    </tr>
                </table>
            </center>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.min.js"></script>